@media only screen and (max-device-width: 1100px) {
  .slick-track {
    display: flex !important;
    max-height: 600px !important;
  }
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
.slick-slide div {
  outline: none;
}
.slick-track {
  display: flex !important;
  max-height: 350px;
}

.slick-slide {
  height: inherit !important;
}

.slick-slide > div {
  height: 100%;
  display: flex;
}
