.App {
  /* margin-top: 15px; */
  margin-right: 0;
  margin-left: 0;
  max-width: stretch;
  padding-left: 0;
  padding-right: 0;
}

.App .navbar-brand {
  font-weight: bold;
  color: #5cafdb !important;
}

.App .navbar {
  padding: 10px 20px;
  margin-bottom: 0;
  background-color: white !important;
  border-color: white;
}
.test {
}
