.App {
  /* margin-top: 15px; */
  margin-right: 0;
  margin-left: 0;
  max-width: stretch;
  padding-left: 0;
  padding-right: 0;
}

.App .navbar-brand {
  font-weight: bold;
  color: #5cafdb !important;
}

.App .headerImage {
  max-width: 50%;
  cursor: pointer;
}
.testy {
  border-right-style: none !important;
}

.App .nav-link {
  border-right-style: solid;
  border-right-color: rgb(38, 38, 38, 0.1);
  border-width: 0.5px;
  padding: 8px 16px !important;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.5);
}
.App .navbar {
  padding: 10px 20px;
  margin-bottom: 0;
  background-color: white !important;
  border-color: white;
}
.test {
}
